{
  "openapi": "3.0.3",
  "info": {
    "title": "Payments",
    "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Use the Payments REST API to easily and securely accept online and mobile payments. The payments name space contains resource collections for payments, sales, refunds, authorizations, captures, and orders.<blockquote><strong>Important:</strong> The use of the PayPal REST <code>/payments</code> APIs to accept credit card payments is restricted. Instead, you can accept credit card payments with <a href=\"https://www.braintreepayments.com/products/braintree-direct\">Braintree Direct</a>.</blockquote>You can enable customers to make PayPal and credit card payments with only a few clicks, depending on the country. You can accept an immediate payment or authorize a payment and capture it later. You can show details for completed payments, refunds, and authorizations. You can make full or partial refunds. You also can void or re-authorize authorizations. For more information, see the <a href=\"/docs/integration/direct/payments/\">Payments overview</a>.",
    "version": "1.12",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api-m.sandbox.paypal.com",
      "description": "PayPal Sandbox Environment"
    },
    {
      "url": "https://api-m.paypal.com",
      "description": "PayPal Live Environment"
    }
  ],
  "tags": [
    {
      "name": "payment",
      "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Use the <code>/payment</code> resource to create a <em>sale</em>, an <em>authorized payment</em>, or an <em>order</em>. A sale is a direct credit card payment, stored credit card payment, or PayPal payment. An authorized payment places funds on hold to be captured later. An order is a purchase that a customer has approved but for which the funds are not placed on hold. You can also use this resource to execute approved PayPal payments and show details for, update, and list payments. For more information, see also <a href=\"/docs/integration/direct/payments/\"Payments</a>."
    },
    {
      "name": "sale",
      "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>A <em>sale</em> is a completed payment. Use the <code>/sale</code> resource to show sale details and refund a sale. For more information, see also <a href=\"/docs/integration/direct/payments/refund-payments/\">Refund payments</a>."
    },
    {
      "name": "authorization",
      "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Use the <code>/authorization</code> resource and related sub-resources to show details for, capture, void, and reauthorize an authorization."
    },
    {
      "name": "orders",
      "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Use the <code>/orders</code> resource to authorize, capture, void, and show details for an order.<blockquote><strong>Note:</strong> You cannot refund an order directly. Instead, you must refund a completed payment for an order. For integration information, see <a href=\"/docs/integration/direct/payments/orders/\">Orders</a> and <a href=\"/docs/integration/direct/payments/refund-payments/\">refund payment</a>.</blockquote>For more information, see also <a href=\"/docs/integration/direct/payments/orders/\">Orders</a>."
    },
    {
      "name": "capture",
      "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Use the <code>/capture</code> resource and sub-resources to show details for and refund captured payments."
    },
    {
      "name": "refund",
      "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Use the <code>/refund</code> resource to show details for a refund on direct and captured payments."
    },
    {
      "name": "receipt",
      "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Use the <code>/receipt</code> resource to show details for a payment receipt."
    }
  ],
  "externalDocs": {
    "url": "https://developer.paypal.com/docs/api/payments/v1/"
  },
  "paths": {
    "/v1/payments/payment": {
      "post": {
        "summary": "Create payment",
        "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Creates a sale, an authorized payment to be captured later, or an order. To create a sale, authorization, or order, include the payment details in the JSON request body. Set the <code>intent</code> to <code>sale</code>, <code>authorize</code>, or <code>order</code>. <blockquote><strong>Note: </strong>TPP Clients (Third Party Providers in the context of PSD2 regulation) are restricted from using <code>authorize</code> and <code>order</code> intents.</blockquote> Include payer, transaction details, and, for PayPal payments only, redirect URLs. The combination of the <code>payment_method</code> and <code>funding_instrument</code> determines the type of payment that is created. For more information, see <a href=\"/docs/integration/direct/payments/\">Payments REST API</a>.",
        "operationId": "payment.create",
        "responses": {
          "201": {
            "description": "A successful request returns the HTTP `201 Created` status code and a JSON response body that shows payment details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payment"
                }
              }
            }
          },
          "default": {
            "description": "The error details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/paypal_partner_attribution_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/payment"
              },
              "examples": {
                "payment": {
                  "value": {
                    "intent": "sale",
                    "payer": {
                      "payment_method": "paypal"
                    },
                    "transactions": [
                      {
                        "amount": {
                          "total": "30.11",
                          "currency": "USD",
                          "details": {
                            "subtotal": "30.00",
                            "tax": "0.07",
                            "shipping": "0.03",
                            "handling_fee": "1.00",
                            "shipping_discount": "-1.00",
                            "insurance": "0.01"
                          }
                        },
                        "description": "The payment transaction description.",
                        "custom": "EBAY_EMS_90048630024435",
                        "invoice_number": "48787589673",
                        "payment_options": {
                          "allowed_payment_method": "INSTANT_FUNDING_SOURCE"
                        },
                        "soft_descriptor": "ECHI5786786",
                        "item_list": {
                          "items": [
                            {
                              "name": "hat",
                              "description": "Brown hat.",
                              "quantity": "5",
                              "price": "3",
                              "tax": "0.01",
                              "sku": "1",
                              "currency": "USD"
                            },
                            {
                              "name": "handbag",
                              "description": "Black handbag.",
                              "quantity": "1",
                              "price": "15",
                              "tax": "0.02",
                              "sku": "product34",
                              "currency": "USD"
                            }
                          ],
                          "shipping_address": {
                            "recipient_name": "Brian Robinson",
                            "line1": "4th Floor",
                            "line2": "Unit #34",
                            "city": "San Jose",
                            "country_code": "US",
                            "postal_code": "95131",
                            "phone": "011862212345678",
                            "state": "CA"
                          }
                        }
                      }
                    ],
                    "note_to_payer": "Contact us for any questions on your order.",
                    "redirect_urls": {
                      "return_url": "https://example.com/return",
                      "cancel_url": "https://example.com/cancel"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": ["https://api.paypal.com/v1/payments/.*"]
          },
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/payment"]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/realtimepayment"
            ]
          },
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/paymentcard"]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/channelpartner"
            ]
          }
        ],
        "tags": ["payment"]
      },
      "get": {
        "summary": "List payments",
        "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Lists payments that are completed. Payments that you just created with the <a href=\"/docs/api/payments/v1/#payment_create\">create payment</a> call do not appear in the list.<br/><br/>The list shows the payments that are made to the merchant who makes the call. To filter the payments that appear in the response, you can specify one or more optional query and pagination parameters. See <a href=\"/docs/api/reference/api-requests/#query-parameters\">Filtering and pagination</a>.",
        "operationId": "payment.list",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that lists payments with payment details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payment_history"
                }
              }
            }
          },
          "default": {
            "description": "The error details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/start_id"
          },
          {
            "$ref": "#/components/parameters/start_index"
          },
          {
            "$ref": "#/components/parameters/start_time"
          },
          {
            "$ref": "#/components/parameters/end_time"
          },
          {
            "$ref": "#/components/parameters/payee_id"
          },
          {
            "$ref": "#/components/parameters/sort_by"
          },
          {
            "$ref": "#/components/parameters/sort_order"
          }
        ],
        "security": [
          {
            "Oauth2": ["https://api.paypal.com/v1/payments/.*"]
          },
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/payment"]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/realtimepayment"
            ]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment/authcapture"
            ]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/checkout/onetimepayment"
            ]
          }
        ],
        "tags": ["payment"]
      }
    },
    "/v1/payments/payment/{payment_id}": {
      "get": {
        "summary": "Show payment details",
        "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Shows details for a payment, by ID, that has yet to complete. For example, shows details for a payment that was created, approved, or failed.",
        "operationId": "payment.get",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows payment details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payment"
                }
              }
            }
          },
          "default": {
            "description": "The error details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/payment_id"
          }
        ],
        "security": [
          {
            "Oauth2": ["https://api.paypal.com/v1/payments/.*"]
          },
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/payment"]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/realtimepayment"
            ]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment/authcapture"
            ]
          }
        ],
        "tags": ["payment"]
      },
      "patch": {
        "summary": "Partially update payment",
        "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Partially updates a payment, by ID. You can update the amount, shipping address, invoice ID, and custom data. You cannot update a payment after the payment executes. <blockquote><strong>Note: </strong>TPP Clients (Third Party Providers in the context of PSD2 regulation) are restricted from patching amount once authorized.</blockquote>",
        "operationId": "payment.update",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows payment details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payment"
                }
              }
            }
          },
          "default": {
            "description": "The error details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/payment_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patch_request"
              },
              "examples": {
                "patch_request": {
                  "value": [
                    {
                      "op": "replace",
                      "path": "/transactions/0/amount",
                      "value": {
                        "total": "18.37",
                        "currency": "EUR",
                        "details": {
                          "subtotal": "13.37",
                          "shipping": "5.00"
                        }
                      }
                    },
                    {
                      "op": "add",
                      "path": "/transactions/0/item_list/shipping_address",
                      "value": {
                        "recipient_name": "Anna Gruneberg",
                        "line1": "Kathwarinenhof 1",
                        "city": "Flensburg",
                        "postal_code": "24939",
                        "country_code": "DE"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": ["https://api.paypal.com/v1/payments/.*"]
          },
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/payment"]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/realtimepayment"
            ]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/channelpartner"
            ]
          }
        ],
        "tags": ["payment"]
      }
    },
    "/v1/payments/payment/{payment_id}/execute": {
      "post": {
        "summary": "Execute approved PayPal payment",
        "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Executes a PayPal payment that the customer has approved. You can optionally update one or more transactions when you execute the payment.<blockquote><strong>Important:</strong> This call works only after a customer has approved the payment. For more information, learn about <a href=\"/docs/integration/direct/payments/paypal-payments/\">PayPal payments</a>.</blockquote>",
        "operationId": "payment.execute",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows details for the executed payment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payment"
                }
              }
            }
          },
          "default": {
            "description": "The error details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/paypal_request_id"
          },
          {
            "$ref": "#/components/parameters/paypal_partner_attribution_id"
          },
          {
            "$ref": "#/components/parameters/payment_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/payment_execution"
              },
              "examples": {
                "payment_execution": {
                  "value": {
                    "payer_id": "CR87QHB7JTRSC"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": ["https://api.paypal.com/v1/payments/.*"]
          },
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/payment"]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/realtimepayment"
            ]
          }
        ],
        "tags": ["payment"]
      }
    },
    "/v1/payments/sale/{sale_id}": {
      "get": {
        "summary": "Show sale details",
        "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Shows details for a sale, by ID. Returns only sales that were created through the REST API.",
        "operationId": "sale.get",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows sale details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sale"
                }
              }
            }
          },
          "default": {
            "description": "The error details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/sale_id"
          }
        ],
        "security": [
          {
            "Oauth2": ["https://api.paypal.com/v1/payments/.*"]
          },
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/payment"]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/realtimepayment"
            ]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment/authcapture"
            ]
          }
        ],
        "tags": ["sale"]
      }
    },
    "/v1/payments/sale/{sale_id}/refund": {
      "post": {
        "summary": "Refund sale",
        "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Refunds a sale, by ID. For a full refund, do not include the <code>amount</code> object in the JSON request body. For a partial refund, include an <code>amount</code> object in the JSON request body.",
        "operationId": "sale.refund",
        "responses": {
          "200": {
            "description": "A successful idempotent request returns the HTTP `200 Created` status code and a JSON response body that shows details for the refunded sale.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/detailed_refund"
                }
              }
            }
          },
          "201": {
            "description": "A successful request returns the HTTP `201 Created` status code and a JSON response body that shows details for the refunded sale.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/detailed_refund"
                }
              }
            }
          },
          "409": {
            "description": "The request failed because a previous call for the given resource is in progress.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "default": {
            "description": "The error details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/paypal_request_id"
          },
          {
            "$ref": "#/components/parameters/sale_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/refund_request"
              },
              "examples": {
                "refund_request": {
                  "value": {
                    "amount": {
                      "total": "100.00",
                      "currency": "USD"
                    },
                    "invoice_number": "INV-7654321"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": ["https://api.paypal.com/v1/payments/.*"]
          },
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/payment"]
          },
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/refund"]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/unilateralrefund"
            ]
          }
        ],
        "tags": ["sale"]
      }
    },
    "/v1/payments/authorization/{authorization_id}": {
      "get": {
        "summary": "Show authorization details",
        "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Shows details for an authorization, by ID.",
        "operationId": "authorization.get",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows authorization details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authorization"
                }
              }
            }
          },
          "default": {
            "description": "The error details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization_id"
          }
        ],
        "security": [
          {
            "Oauth2": ["https://api.paypal.com/v1/payments/.*"]
          },
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/payment"]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/realtimepayment"
            ]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment/authcapture"
            ]
          }
        ],
        "tags": ["authorization"]
      }
    },
    "/v1/payments/authorization/{authorization_id}/capture": {
      "post": {
        "summary": "Capture authorization",
        "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Captures and processes an authorization, by ID. The original payment call must specify an intent of <code>authorize</code>.",
        "operationId": "authorization.capture",
        "responses": {
          "201": {
            "description": "A successful request returns the HTTP `201 Created` status code and a JSON response body that shows details for the captured authorization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/capture"
                }
              }
            }
          },
          "default": {
            "description": "The error details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/capture"
              },
              "examples": {
                "capture": {
                  "value": {
                    "amount": {
                      "currency": "USD",
                      "total": "4.54"
                    },
                    "is_final_capture": true
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": ["https://api.paypal.com/v1/payments/.*"]
          },
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/payment"]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment/authcapture"
            ]
          }
        ],
        "tags": ["authorization"]
      }
    },
    "/v1/payments/authorization/{authorization_id}/void": {
      "post": {
        "summary": "Void authorization",
        "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Voids, or cancels, an authorization, by ID. You cannot void a fully captured authorization.",
        "operationId": "authorization.void",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows details for the voided authorization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authorization"
                }
              }
            }
          },
          "409": {
            "description": "The request failed because a previous call for the given resource is in progress.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "default": {
            "description": "The error details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/paypal_request_id"
          },
          {
            "$ref": "#/components/parameters/authorization_id"
          }
        ],
        "security": [
          {
            "Oauth2": ["https://api.paypal.com/v1/payments/.*"]
          },
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/payment"]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment/authcapture"
            ]
          }
        ],
        "tags": ["authorization"]
      }
    },
    "/v1/payments/authorization/{authorization_id}/reauthorize": {
      "post": {
        "summary": "Re-authorize payment",
        "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Re-authorizes a PayPal account payment, by authorization ID. To ensure that funds are still available, re-authorize a payment after the initial three-day honor period. Supports only the <code>amount</code> request parameter. You can re-authorize a payment only once from four to 29 days after three-day honor period for the original authorization expires. If 30 days have passed from the original authorization, you must create a new authorization instead. A re-authorized payment itself has a new three-day honor period. You can re-authorize a transaction once for up to 115% of the originally authorized amount, not to exceed an increase of $75 USD.",
        "operationId": "authorization.reauthorize",
        "responses": {
          "201": {
            "description": "A successful request returns the HTTP `201 Created` status code and a JSON response body that shows details for the re-authorized authorization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authorization"
                }
              }
            }
          },
          "default": {
            "description": "The error details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/authorization_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authorization"
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": ["https://api.paypal.com/v1/payments/.*"]
          },
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/payment"]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment/authcapture"
            ]
          }
        ],
        "tags": ["authorization"]
      }
    },
    "/v1/payments/orders/{order_id}": {
      "get": {
        "summary": "Show order details",
        "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Shows details for an order, by ID.",
        "operationId": "orders.get",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows details for the voided authorization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                }
              }
            }
          },
          "default": {
            "description": "The error details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/order_id"
          }
        ],
        "security": [
          {
            "Oauth2": ["https://api.paypal.com/v1/payments/.*"]
          },
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/payment"]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/realtimepayment"
            ]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment/authcapture"
            ]
          }
        ],
        "tags": ["orders"]
      }
    },
    "/v1/payments/orders/{order_id}/capture": {
      "post": {
        "summary": "Capture order",
        "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Captures a payment for an order, by ID. To use this call, the original payment call must specify an <code>order</code> intent. In the JSON request body, include the payment amount and indicate whether this capture is the final capture for the authorization.",
        "operationId": "orders.capture",
        "responses": {
          "201": {
            "description": "A successful request returns the HTTP `201 Created` status code and a JSON response body that shows details for the captured order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/capture"
                }
              }
            }
          },
          "default": {
            "description": "The error details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/order_id"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/capture"
        },
        "security": [
          {
            "Oauth2": ["https://api.paypal.com/v1/payments/.*"]
          },
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/payment"]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment/authcapture"
            ]
          }
        ],
        "tags": ["orders"]
      }
    },
    "/v1/payments/orders/{order_id}/do-void": {
      "post": {
        "summary": "Void order",
        "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Voids, or cancels, an order, by ID. You can only void orders that are either in the <code>PENDING</code> or <code>AUTHORIZED</code> states or those in the <code>CAPTURED</code> state that are not fully captured.",
        "operationId": "orders.void",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows details for the voided order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                }
              }
            }
          },
          "default": {
            "description": "The error details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/paypal_request_id"
          },
          {
            "$ref": "#/components/parameters/order_id"
          }
        ],
        "security": [
          {
            "Oauth2": ["https://api.paypal.com/v1/payments/.*"]
          },
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/payment"]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment/authcapture"
            ]
          }
        ],
        "tags": ["orders"]
      }
    },
    "/v1/payments/orders/{order_id}/authorize": {
      "post": {
        "summary": "Authorize order",
        "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Authorizes an order, by ID. In the JSON request body, include an <code>amount</code> object.",
        "operationId": "orders.authorize",
        "responses": {
          "201": {
            "description": "A successful request returns the HTTP `201 Created` status code and a JSON response body that shows details for the authorized order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authorization"
                }
              }
            }
          },
          "default": {
            "description": "The error details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/order_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/order"
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": ["https://api.paypal.com/v1/payments/.*"]
          },
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/payment"]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment/authcapture"
            ]
          }
        ],
        "tags": ["orders"]
      }
    },
    "/v1/payments/capture/{capture_id}": {
      "get": {
        "summary": "Show captured payment details",
        "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Shows details for a captured payment, by ID.",
        "operationId": "capture.get",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows details for the captured payment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/capture"
                }
              }
            }
          },
          "default": {
            "description": "The error details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/capture_id"
          }
        ],
        "security": [
          {
            "Oauth2": ["https://api.paypal.com/v1/payments/.*"]
          },
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/payment"]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/realtimepayment"
            ]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/payment/authcapture"
            ]
          }
        ],
        "tags": ["capture"]
      }
    },
    "/v1/payments/capture/{capture_id}/refund": {
      "post": {
        "summary": "Refund captured payment",
        "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Refunds a captured payment, by ID. In the JSON request body, include an <code>amount</code> object.",
        "operationId": "capture.refund",
        "responses": {
          "200": {
            "description": "A successful idempotent request returns the HTTP `200 OK` status code and a JSON response body that shows details for the captured payment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/detailed_refund"
                }
              }
            }
          },
          "201": {
            "description": "A successful request returns the HTTP `201 OK` status code and a JSON response body that shows details for the captured payment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/detailed_refund"
                }
              }
            }
          },
          "409": {
            "description": "The request failed because a previous call for the given resource is in progress.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "default": {
            "description": "The error details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/paypal_request_id"
          },
          {
            "$ref": "#/components/parameters/capture_id"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/refund_request"
        },
        "security": [
          {
            "Oauth2": ["https://api.paypal.com/v1/payments/.*"]
          },
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/payment"]
          },
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/refund"]
          },
          {
            "Oauth2": [
              "https://uri.paypal.com/services/payments/unilateralrefund"
            ]
          }
        ],
        "tags": ["capture"]
      }
    },
    "/v1/payments/refund/{refund_id}": {
      "get": {
        "summary": "Show refund details",
        "description": "<blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href=\"/docs/checkout/integrate/\">PayPal Checkout Basic Integration</a>.</blockquote>Shows details for a refund, by ID.",
        "operationId": "refund.get",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows refund details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/refund"
                }
              }
            }
          },
          "default": {
            "description": "The error details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/refund_id"
          }
        ],
        "security": [
          {
            "Oauth2": ["https://api.paypal.com/v1/payments/.*"]
          },
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/payment"]
          },
          {
            "Oauth2": ["https://uri.paypal.com/services/payments/refund"]
          }
        ],
        "tags": ["refund"]
      }
    }
  },
  "components": {
    "requestBodies": {
      "capture": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/capture"
            }
          }
        }
      },
      "refund_request": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/refund_request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Oauth2": {
        "type": "oauth2",
        "description": "Oauth 2.0 authentication",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "/v1/oauth2/token",
            "scopes": {
              "https://api.paypal.com/v1/payments/.*": "Deprecated. Legacy payment scope. It will be replaced with new scopes",
              "https://uri.paypal.com/services/payments/payment": "New special privileged scope available to do payment. This will be available to internal clients only",
              "https://uri.paypal.com/services/payments/realtimepayment": "Permission to do any real time payment, with support for sale/authorize/order intents",
              "https://uri.paypal.com/services/payments/payment/authcapture": "Permission to do non-real time payments like authorization on order or capture on authorization or an order ",
              "https://uri.paypal.com/services/payments/refund": "Permission to initiate a refund/reversal on a sale or capture transaction",
              "https://uri.paypal.com/services/payments/paymentcard": "Permission to do unbranded credit or debit card payments",
              "https://uri.paypal.com/services/payments/futurepayments": "Permission for future or pre-approved payment.",
              "https://uri.paypal.com/services/payments/channelpartner": "Permission to explicitly specify the receiver of a payment on request payload.",
              "https://uri.paypal.com/services/payments/unilateralrefund": "This scope enables partners/facilitators to perform unilateralrefund and also refund.",
              "https://uri.paypal.com/services/checkout/onetimepayment": "This scope enable buyer's checkout flow to load payment information."
            }
          }
        }
      }
    },
    "schemas": {
      "2": {
        "type": "object",
        "title": "PayPal Wallet Customer Information",
        "description": "The details about a customer in PayPal's system of record."
      },
      "address": {
        "type": "object",
        "title": "Address",
        "description": "The billing address or shipping address for a payment.",
        "properties": {
          "line1": {
            "type": "string",
            "description": "The first line of the address. For example, number, street, and so on.",
            "maxLength": 300
          },
          "line2": {
            "type": "string",
            "description": "The second line of the address. For example, suite or apartment number.",
            "maxLength": 300
          },
          "city": {
            "type": "string",
            "description": "The city name.",
            "maxLength": 64
          },
          "country_code": {
            "description": "The address country code.",
            "$ref": "#/components/schemas/country_code"
          },
          "postal_code": {
            "type": "string",
            "description": "The postal code, which is the zip code or equivalent. Typically required for countries with a postal code or an equivalent. See [postal code](https://en.wikipedia.org/wiki/Postal_code)."
          },
          "state": {
            "type": "string",
            "description": "The [code](/docs/integration/direct/rest/state-codes/) for a US state or the equivalent for other countries. Required for transactions if the address is in one of these countries: [Argentina](/docs/integration/direct/rest/state-codes/#argentina), [Brazil](/docs/integration/direct/rest/state-codes/#brazil), [Canada](/docs/integration/direct/rest/state-codes/#canada), [China](/docs/integration/direct/rest/state-codes/#china), [India](/docs/integration/direct/rest/state-codes/#india), [Italy](/docs/integration/direct/rest/state-codes/#italy), [Japan](/docs/integration/direct/rest/state-codes/#japan), [Mexico](/docs/integration/direct/rest/state-codes/#mexico), [Thailand](/docs/integration/direct/rest/state-codes/#thailand), or [United States](/docs/integration/direct/rest/state-codes/#usa).",
            "maxLength": 300
          },
          "phone": {
            "type": "string",
            "format": "phone",
            "description": "The phone number, in [E.123 format](https://www.itu.int/rec/T-REC-E.123-200102-I/en). Maximum length is 50 characters."
          },
          "normalization_status": {
            "type": "string",
            "description": "The address normalization status. Returned only for payers from Brazil.",
            "readOnly": true,
            "x-enumDescriptions": [
              {
                "value": "UNKNOWN",
                "description": "Unknown."
              },
              {
                "value": "UNNORMALIZED_USER_PREFERRED",
                "description": "Unnormalized user preferred."
              },
              {
                "value": "NORMALIZED",
                "description": "Normalized."
              },
              {
                "value": "UNNORMALIZED",
                "description": "Unnormalized."
              }
            ],
            "enum": [
              "UNKNOWN",
              "UNNORMALIZED_USER_PREFERRED",
              "NORMALIZED",
              "UNNORMALIZED"
            ]
          },
          "type": {
            "type": "string",
            "description": "The type of address. For example, `HOME_OR_WORK`, `GIFT`, and so on."
          }
        },
        "required": ["line1", "country_code"]
      },
      "amount": {
        "type": "object",
        "title": "Amount",
        "description": "The payment amount, with details.",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The [three-character ISO-4217 currency code](/docs/integration/direct/rest/currency-codes/). PayPal does not support all currencies."
          },
          "total": {
            "type": "string",
            "description": "The total amount charged to the payee by the payer. For refunds, represents the amount that the payee refunds to the original payer. Maximum length is 10 characters, which includes:<ul><li>Seven digits before the decimal point.</li><li>The decimal point.</li><li>Two digits after the decimal point.</li><li>For currencies like `JPY` do not support decimals.</li></ul>"
          },
          "details": {
            "$ref": "#/components/schemas/details"
          }
        },
        "required": ["currency", "total"]
      },
      "apple_pay_attributes": {
        "type": "object",
        "title": "Apple Pay Attributes",
        "description": "Additional attributes associated with apple pay.",
        "properties": {
          "customer": {
            "$ref": "#/components/schemas/customer"
          },
          "vault": {
            "$ref": "#/components/schemas/v3_vault_instruction_base"
          }
        }
      },
      "apple_pay_decrypted_token_data": {
        "type": "object",
        "title": "ApplePay Decrypted Token Data",
        "description": "Information about the Payment data obtained by decrypting Apple Pay token.",
        "properties": {
          "transaction_amount": {
            "description": "The transaction amount for the payment that the payer has approved on apple platform.",
            "$ref": "#/components/schemas/money"
          },
          "tokenized_card": {
            "$ref": "#/components/schemas/tokenized_card"
          },
          "device_manufacturer_id": {
            "description": "Apple Pay Hex-encoded device manufacturer identifier. The pattern is defined by an external party and supports Unicode.",
            "type": "string",
            "minLength": 1,
            "maxLength": 2000,
            "pattern": "^.*$"
          },
          "payment_data_type": {
            "description": "Indicates the type of payment data passed, in case of Non China the payment data is 3DSECURE and for China it is EMV.",
            "type": "string",
            "minLength": 1,
            "maxLength": 16,
            "pattern": "^[0-9A-Z_]+$",
            "x-enumDescriptions": [
              {
                "value": "3DSECURE",
                "description": "The card was authenticated using 3D Secure (3DS) authentication scheme. While using this value make sure to populate cryptogram and eci_indicator as part of payment data.."
              },
              {
                "value": "EMV",
                "description": "The card was authenticated using EMV method, which is applicable for China. While using this value make sure to pass emv_data and pin as part of payment data."
              }
            ],
            "enum": ["3DSECURE", "EMV"]
          },
          "payment_data": {
            "description": "Apple Pay payment data object which contains the cryptogram, eci_indicator and other data.",
            "$ref": "#/components/schemas/apple_pay_payment_data"
          }
        },
        "required": ["tokenized_card"]
      },
      "apple_pay_payment_data": {
        "type": "object",
        "title": "ApplePay Payment Data",
        "description": "Information about the decrypted apple pay payment data for the token like cryptogram, eci indicator.",
        "properties": {
          "cryptogram": {
            "description": "Online payment cryptogram, as defined by 3D Secure. The pattern is defined by an external party and supports Unicode.",
            "type": "string",
            "minLength": 1,
            "maxLength": 2000,
            "pattern": "^.*$"
          },
          "eci_indicator": {
            "description": "ECI indicator, as defined by 3- Secure. The pattern is defined by an external party and supports Unicode.",
            "type": "string",
            "minLength": 1,
            "maxLength": 256,
            "pattern": "^.*$"
          },
          "emv_data": {
            "description": "Encoded Apple Pay EMV Payment Structure used for payments in China. The pattern is defined by an external party and supports Unicode.",
            "type": "string",
            "minLength": 1,
            "maxLength": 2000,
            "pattern": "^.*$"
          },
          "pin": {
            "description": "Bank Key encrypted Apple Pay PIN. The pattern is defined by an external party and supports Unicode.",
            "type": "string",
            "minLength": 1,
            "maxLength": 2000,
            "pattern": "^.*$"
          }
        }
      },
      "apple_pay_request": {
        "type": "object",
        "title": "ApplePay payment request object",
        "description": "Information needed to pay using ApplePay.",
        "properties": {
          "id": {
            "description": "ApplePay transaction identifier, this will be the unique identifier for this transaction provided by Apple. The pattern is defined by an external party and supports Unicode.",
            "type": "string",
            "minLength": 1,
            "maxLength": 250,
            "pattern": "^.*$"
          },
          "name": {
            "description": "Name on the account holder associated with apple pay.",
            "$ref": "#/components/schemas/full_name"
          },
          "email_address": {
            "description": "The email address of the account holder associated with apple pay.",
            "$ref": "#/components/schemas/email_address"
          },
          "phone_number": {
            "$ref": "#/components/schemas/phone_number"
          },
          "decrypted_token": {
            "description": "The decrypted payload details for the apple pay token.",
            "$ref": "#/components/schemas/apple_pay_decrypted_token_data"
          },
          "stored_credential": {
            "$ref": "#/components/schemas/card_stored_credential"
          },
          "vault_id": {
            "description": "The PayPal-generated ID for the saved apple pay payment_source. This ID should be stored on the merchant's server so the saved payment source can be used for future transactions.",
            "$ref": "#/components/schemas/vault_id"
          },
          "attributes": {
            "$ref": "#/components/schemas/apple_pay_attributes"
          }
        }
      },
      "application_context": {
        "type": "object",
        "title": "Application Context",
        "description": "The application context. Set these properties to customize the payment flow experience for your customers.",
        "properties": {
          "brand_name": {
            "type": "string",
            "description": "A label that overrides the business name in the merchant's PayPal account on the PayPal checkout pages.",
            "maxLength": 127
          },
          "locale": {
            "type": "string",
            "description": "The locale of pages that the PayPal payment experience displays. Please refer [here](/docs/api/reference/locale-codes/#localize-the-checkout-experience) for list of supported local codes.  Defaulted to en_US if not provided or invalid."
          },
          "landing_page": {
            "type": "string",
            "description": "The type of landing page to show on the PayPal site for customer checkout. To use the non-PayPal account landing page, set to `Billing`. To use the PayPal account log in landing page, set to `Login`."
          },
          "shipping_preference": {
            "type": "string",
            "description": "The shipping preference.",
            "x-enumDescriptions": [
              {
                "value": "NO_SHIPPING",
                "description": "Redacts the shipping address from the PayPal pages. Recommended for digital goods."
              },
              {
                "value": "GET_FROM_FILE",
                "description": "Uses the customer-selected shipping address on PayPal pages."
              },
              {
                "value": "SET_PROVIDED_ADDRESS",
                "description": "If available, uses the merchant-provided shipping address, which the customer cannot change on the PayPal pages. If the merchant does not provide an address, the customer can enter the address on PayPal pages."
              }
            ],
            "default": "GET_FROM_FILE",
            "enum": ["NO_SHIPPING", "GET_FROM_FILE", "SET_PROVIDED_ADDRESS"]
          },
          "user_action": {
            "type": "string",
            "description": "The user action. Presents the customer with either the <strong>Continue</strong> or <strong>Pay Now</strong> checkout flow:<table><thead><tr valign=\"top\" align=\"left\"><th>Flow</th><th>Action</th><th>Description</th></tr></thead><tbody><tr valign=\"top\" align=\"left\"><td><strong>Pay Now</strong></td><td><code>user_action=commit</code></td><td>After the customer is redirected to the PayPal payment page, shows the <strong>Pay Now</strong> button.<br/><br/>Use this option when you know the final amount when checkout is initiated and you want to process the payment immediately when the customer clicks <strong>Pay Now</strong>.</td></tr><tr valign=\"top\" align=\"left\"><td><strong>Continue</strong></td><td> <code>user_action=continue</code></td><td>After the customer is redirected to the PayPal payment page, shows the <strong>Continue</strong> button.<br/><br/>Use this option when you do not know the final amount when you initiate the checkout flow and you want to redirect the customer to the merchant page without processing the payment.</td></tr></tbody></table>"
          },
          "preferred_payment_source": {
            "$ref": "#/components/schemas/preferred_payment_source"
          },
          "payment_pattern": {
            "$ref": "#/components/schemas/payment_pattern"
          }
        }
      },
      "assurance_details": {},
      "attributes": {
        "description": "Additional attributes associated with the use of this card.",
        "type": "object",
        "title": "Card Attributes",
        "properties": {
          "verification": {
            "description": "Instruction to optionally verify the card based on the specified strategy.",
            "$ref": "#/components/schemas/card_verification"
          }
        }
      },
      "authorization": {
        "type": "object",
        "title": "Authorization",
        "description": "The authorization details.",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "The ID of the authorization."
          },
          "amount": {
            "$ref": "#/components/schemas/amount",
            "description": "The amount being authorized."
          },
          "payment_mode": {
            "type": "string",
            "description": "The payment mode of the authorization.",
            "readOnly": true,
            "x-enumDescriptions": [
              {
                "value": "INSTANT_TRANSFER",
                "description": "Instant transfer."
              }
            ],
            "enum": ["INSTANT_TRANSFER"]
          },
          "state": {
            "type": "string",
            "description": "The authorized payment state.",
            "x-enumDescriptions": [
              {
                "value": "pending",
                "description": "The authorized payment is pending."
              },
              {
                "value": "authorized",
                "description": "The authorized payment is authorized."
              },
              {
                "value": "partially_captured",
                "description": "The authorized payment is partially captured."
              },
              {
                "value": "captured",
                "description": "The authorized payment is captured."
              },
              {
                "value": "expired",
                "description": "The authorized payment is expired."
              },
              {
                "value": "denied",
                "description": "PayPal can no longer authorize funds against this authorization."
              },
              {
                "value": "voided",
                "description": "The authorized payment is voided."
              }
            ],
            "readOnly": true,
            "enum": [
              "pending",
              "authorized",
              "partially_captured",
              "captured",
              "expired",
              "denied",
              "voided"
            ]
          },
          "reason_code": {
            "type": "string",
            "description": "The reason code for the pending transaction state.",
            "x-enumDescriptions": [
              {
                "value": "AUTHORIZATION",
                "description": "Authorization."
              }
            ],
            "readOnly": true,
            "enum": ["AUTHORIZATION"]
          },
          "pending_reason": {
            "type": "string",
            "description": "Deprecated. The reason code for the pending transaction state. Obsolete. Use `reason_code` instead.",
            "x-enumDescriptions": [
              {
                "value": "AUTHORIZATION",
                "description": "Authorization."
              }
            ],
            "readOnly": true,
            "enum": ["AUTHORIZATION"]
          },
          "protection_eligibility": {
            "type": "string",
            "description": "The level of seller protection present for the transaction. Supported for the PayPal payment method only.",
            "x-enumDescriptions": [
              {
                "value": "ELIGIBLE",
                "description": " Merchant is protected by PayPal's Seller Protection Policy for Unauthorized Payments and Item Not Received."
              },
              {
                "value": "PARTIALLY_ELIGIBLE",
                "description": "Merchant is protected by PayPal's Seller Protection Policy for Item Not Received or Unauthorized Payments. For details, see `protection_eligibility_type`."
              },
              {
                "value": "INELIGIBLE",
                "description": "Merchant is not protected under the Seller Protection Policy."
              }
            ],
            "readOnly": true,
            "enum": ["ELIGIBLE", "PARTIALLY_ELIGIBLE", "INELIGIBLE"]
          },
          "protection_eligibility_type": {
            "type": "string",
            "description": "The type of seller protection for the transaction. Returned only when the `protection_eligibility` property is `ELIGIBLE` or `PARTIALLY_ELIGIBLE`. Supported for the PayPal payment method only.",
            "x-enumDescriptions": [
              {
                "value": "ITEM_NOT_RECEIVED_ELIGIBLE",
                "description": "Sellers are protected against claims for items not received."
              },
              {
                "value": "UNAUTHORIZED_PAYMENT_ELIGIBLE",
                "description": "Sellers are protected against claims for unauthorized payments."
              },
              {
                "value": "ITEM_NOT_RECEIVED_ELIGIBLE,UNAUTHORIZED_PAYMENT_ELIGIBLE",
                "description": "Sellers are protected against claims for items not received and sellers are protected against claims for unauthorized payments."
              }
            ],
            "readOnly": true,
            "enum": [
              "ITEM_NOT_RECEIVED_ELIGIBLE",
              "UNAUTHORIZED_PAYMENT_ELIGIBLE",
              "ITEM_NOT_RECEIVED_ELIGIBLE,UNAUTHORIZED_PAYMENT_ELIGIBLE"
            ]
          },
          "fmf_details": {
            "$ref": "#/components/schemas/fmf_details"
          },
          "parent_payment": {
            "type": "string",
            "readOnly": true,
            "description": "The ID of the payment on which this transaction is based."
          },
          "processor_response": {
            "$ref": "#/components/schemas/processor_response"
          },
          "valid_until": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the authorization expires, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).",
            "readOnly": true
          },
          "create_time": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the authorization was created, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).",
            "readOnly": true
          },
          "update_time": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the authorization was last updated, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).",
            "readOnly": true
          },
          "receipt_id": {
            "type": "string",
            "description": "The receipt ID, which identifies the payment. Value is 16-digit numeric payment ID number that is returned for guest users.",
            "pattern": "^[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}$",
            "readOnly": true
          },
          "links": {
            "$ref": "#/components/schemas/link_description_list"
          }
        },
        "required": ["amount"]
      },
      "bancontact_request": {
        "type": "object",
        "title": "Bancontact payment request",
        "description": "Information needed to pay using Bancontact.",
        "properties": {
          "name": {
            "description": "The name of the account holder associated with this payment method.",
            "$ref": "#/components/schemas/full_name"
          },
          "country_code": {
            "description": "The two-character ISO 3166-1 country code.",
            "$ref": "#/components/schemas/country_code-3"
          },
          "experience_context": {
            "description": "Customizes the payer experience during the approval process for the payment.",
            "$ref": "#/components/schemas/experience_context_base"
          }
        },
        "required": ["name", "country_code"]
      },
      "bic": {
        "type": "string",
        "title": "BIC",
        "description": "The business identification code (BIC). In payments systems, a BIC is used to identify a specific business, most commonly a bank.",
        "minLength": 8,
        "maxLength": 11,
        "pattern": "^[A-Z-a-z0-9]{4}[A-Z-a-z]{2}[A-Z-a-z0-9]{2}([A-Z-a-z0-9]{3})?$"
      },
      "billing_agreement_id": {
        "type": "string",
        "description": "The PayPal billing agreement ID. References an approved recurring payment for goods or services.",
        "minLength": 2,
        "maxLength": 128,
        "pattern": "^[a-zA-Z0-9-]+$"
      },
      "blik_experience_context": {
        "type": "object",
        "title": "BLIK Experience Context",
        "description": "Customizes the payer experience during the approval process for the BLIK payment.",
        "allOf": [
          {
            "$ref": "#/components/schemas/experience_context_base"
          },
          {
            "properties": {
              "consumer_ip": {
                "description": "The IP address of the consumer. It could be either IPv4 or IPv6.",
                "$ref": "#/components/schemas/ip_address"
              },
              "consumer_user_agent": {
                "type": "string",
                "description": "The payer's User Agent. For example, Mozilla/5.0 (Macintosh; Intel Mac OS X x.y; rv:42.0).",
                "minLength": 1,
                "maxLength": 256,
                "pattern": "^.*$"
              }
            }
          }
        ]
      },
      "blik_one_click": {
        "type": "object",
        "title": "BLIK one-click payment request",
        "description": "Information used to pay using BLIK one-click flow.",
        "properties": {
          "auth_code": {
            "type": "string",
            "description": "The 6-digit code used to authenticate a consumer within BLIK.",
            "minLength": 6,
            "maxLength": 6,
            "pattern": "^[0-9]{6}$"
          },
          "consumer_reference": {
            "type": "string",
            "description": "The merchant generated, unique reference serving as a primary identifier for accounts connected between Blik and a merchant.",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[ -~]{3,64}$"
          },
          "alias_label": {
            "type": "string",
            "description": "A bank defined identifier used as a display name to allow the payer to differentiate between multiple registered bank accounts.",
            "minLength": 8,
            "maxLength": 35,
            "pattern": "^[ -~]{8,35}$"
          },
          "alias_key": {
            "type": "string",
            "description": "A Blik-defined identifier for a specific Blik-enabled bank account that is associated with a given merchant. Used only in conjunction with a Consumer Reference.",
            "minLength": 1,
            "maxLength": 19,
            "pattern": "^[0-9]+$"
          }
        },
        "required": ["consumer_reference"]
      },
      "blik_request": {
        "type": "object",
        "title": "BLIK payment request",
        "description": "Information needed to pay using BLIK.",
        "properties": {
          "name": {
            "description": "The name of the account holder associated with this payment method.",
            "$ref": "#/components/schemas/full_name"
          },
          "country_code": {
            "description": "The two-character ISO 3166-1 country code.",
            "$ref": "#/components/schemas/country_code-3"
          },
          "email": {
            "description": "The email address of the account holder associated with this payment method.",
            "$ref": "#/components/schemas/email_address"
          },
          "experience_context": {
            "description": "Customizes the payer experience during the approval process for the payment.",
            "$ref": "#/components/schemas/blik_experience_context"
          },
          "level_0": {
            "description": "The level_0 integration flow object.",
            "$ref": "#/components/schemas/blik_seamless"
          },
          "one_click": {
            "description": "The one-click integration flow object.",
            "$ref": "#/components/schemas/blik_one_click"
          }
        },
        "required": ["name", "country_code"]
      },
      "blik_seamless": {
        "type": "object",
        "title": "BLIK level_0 payment object",
        "description": "Information used to pay using BLIK level_0 flow.",
        "properties": {
          "auth_code": {
            "type": "string",
            "description": "The 6-digit code used to authenticate a consumer within BLIK.",
            "minLength": 6,
            "maxLength": 6,
            "pattern": "^[0-9]{6}$"
          }
        },
        "required": ["auth_code"]
      },
      "capture": {
        "type": "object",
        "title": "Capture",
        "description": "The capture transaction details.",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the capture transaction.",
            "readOnly": true
          },
          "amount": {
            "description": "The amount to capture. If the amount matches the originally authorized amount, the state of the authorization changes to `captured`. Otherwise, the state changes to `partially_captured`.",
            "$ref": "#/components/schemas/amount"
          },
          "is_final_capture": {
            "type": "boolean",
            "description": "Indicates whether to release all remaining held funds.",
            "default": false
          },
          "state": {
            "type": "string",
            "description": "The state of the capture.",
            "x-enumDescriptions": [
              {
                "value": "pending",
                "description": "The capture is pending."
              },
              {
                "value": "completed",
                "description": "The capture has successfully completed."
              },
              {
                "value": "refunded",
                "description": "The capture was fully refunded."
              },
              {
                "value": "partially_refunded",
                "description": "The capture was partially refunded."
              },
              {
                "value": "denied",
                "description": "PayPal has declined to process this transaction."
              }
            ],
            "readOnly": true,
            "enum": [
              "pending",
              "completed",
              "refunded",
              "partially_refunded",
              "denied"
            ]
          },
          "reason_code": {
            "type": "string",
            "x-enumDescriptions": [
              {
                "value": "CHARGEBACK",
                "description": "The transaction state is `pending` or `reversed` due to a chargeback."
              },
              {
                "value": "GUARANTEE",
                "description": "The transaction state is `pending` or `reversed` due to a guarantee."
              },
              {
                "value": "BUYER_COMPLAINT",
                "description": "The transaction state is `pending` or `reversed` due to a customer complaint."
              },
              {
                "value": "REFUND",
                "description": "The transaction state is `pending` or `reversed` due to a REFUND."
              },
              {
                "value": "UNCONFIRMED_SHIPPING_ADDRESS",
                "description": "The transaction state is `pending` or `reversed` due to an unconfirmed shipping address."
              },
              {
                "value": "ECHECK",
                "description": "The transaction state is `pending` or `reversed` due to an e-check."
              },
              {
                "value": "INTERNATIONAL_WITHDRAWAL",
                "description": "The transaction state is `pending` or `reversed` due to an international withdrawal."
              },
              {
                "value": "RECEIVING_PREFERENCE_MANDATES_MANUAL_ACTION",
                "description": "The transaction state is `pending` or `reversed` due to a receiving preference that mandates manual action."
              },
              {
                "value": "PAYMENT_REVIEW",
                "description": "The transaction state is `pending` or `reversed` due to a payment review."
              },
              {
                "value": "REGULATORY_REVIEW",
                "description": "The transaction state is `pending` or `reversed` due to a regulatory review."
              },
              {
                "value": "UNILATERAL",
                "description": "The transaction state is `pending` or `reversed` due to a unilateral action."
              },
              {
                "value": "VERIFICATION_REQUIRED",
                "description": "The transaction state is `pending` or `reversed` because verification is required."
              },
              {
                "value": "TRANSACTION_APPROVED_AWAITING_FUNDING",
                "description": "The transaction state is `pending` or `reversed` because an approved transaction is awaiting funding."
              },
              {
                "value": "NONE",
                "description": "Returned only when the state is 'completed'. Returned only as part of the 'POST' response."
              }
            ],
            "description": "The reason code that describes why the transaction state is pending or reversed.",
            "readOnly": true,
            "enum": [
              "CHARGEBACK",
              "GUARANTEE",
              "BUYER_COMPLAINT",
              "REFUND",
              "UNCONFIRMED_SHIPPING_ADDRESS",
              "ECHECK",
              "INTERNATIONAL_WITHDRAWAL",
              "RECEIVING_PREFERENCE_MANDATES_MANUAL_ACTION",
              "PAYMENT_REVIEW",
              "REGULATORY_REVIEW",
              "UNILATERAL",
              "VERIFICATION_REQUIRED",
              "TRANSACTION_APPROVED_AWAITING_FUNDING",
              "NONE"
            ]
          },
          "parent_payment": {
            "type": "string",
            "readOnly": true,
            "description": "The ID of the payment on which this transaction is based."
          },
          "invoice_number": {
            "type": "string",
            "description": "The invoice number to track this payment.",
            "maxLength": 127
          },
          "transaction_fee": {
            "description": "The currency and amount of the transaction fee for this payment. Would not be returned for `pending` transactions where the funds have not been realized in the payee account.",
            "readOnly": true,
            "$ref": "#/components/schemas/currency"
          },
          "transaction_fee_in_receivable_currency": {
            "description": "The currency and amount of the PayPal fee for this payment in the receivable currency. Returned only in cases the fee is charged in the receivable currency. Example `CNY`. Would not be returned for `pending` transactions where the funds have not been realized in the payee account.",
            "readOnly": true,
            "$ref": "#/components/schemas/currency"
          },
          "receivable_amount": {
            "description": "The net amount and currency that the merchant receives for this transaction in the receivable currency.",
            "$ref": "#/components/schemas/currency",
            "readOnly": true
          },
          "exchange_rate": {
            "type": "string",
            "description": "The exchange rate applied for this transaction. Returned when there is a currency conversion from the transaction currency to the receivable currency.",
            "readOnly": true
          },
          "note_to_payer": {
            "type": "string",
            "description": "A free-form field that clients can use to send a note to the payer.",
            "maxLength": 255
          },
          "create_time": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time of the capture, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).",
            "readOnly": true
          },
          "update_time": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the resource was last updated, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).",
            "readOnly": true
          },
          "links": {
            "$ref": "#/components/schemas/link_description_list"
          }
        }
      },
      "card_brand": {
        "type": "string",
        "title": "Card Brand",
        "description": "The card network or brand. Applies to credit, debit, gift, and payment cards.",
        "minLength": 1,
        "maxLength": 255,
        "pattern": "^[A-Z_]+$",
        "x-enumDescriptions": [
          {
            "value": "VISA",
            "description": "Visa card."
          },
          {
            "value": "MASTERCARD",
            "description": "Mastecard card."
          },
          {
            "value": "DISCOVER",
            "description": "Discover card."
          },
          {
            "value": "AMEX",
            "description": "American Express card."
          },
          {
            "value": "SOLO",
            "description": "Solo debit card."
          },
          {
            "value": "JCB",
            "description": "Japan Credit Bureau card."
          },
          {
            "value": "STAR",
            "description": "Military Star card."
          },
          {
            "value": "DELTA",
            "description": "Delta Airlines card."
          },
          {
            "value": "SWITCH",
            "description": "Switch credit card."
          },
          {
            "value": "MAESTRO",
            "description": "Maestro credit card."
          },
          {
            "value": "CB_NATIONALE",
            "description": "Carte Bancaire (CB) credit card."
          },
          {
            "value": "CONFIGOGA",
            "description": "Configoga credit card."
          },
          {
            "value": "CONFIDIS",
            "description": "Confidis credit card."
          },
          {
            "value": "ELECTRON",
            "description": "Visa Electron credit card."
          },
          {
            "value": "CETELEM",
            "description": "Cetelem credit card."
          },
          {
            "value": "CHINA_UNION_PAY",
            "description": "China union pay credit card."
          },
          {
            "value": "DINERS",
            "description": "The Diners Club International banking and payment services capability network owned by Discover Financial Services (DFS), one of the most recognized brands in US financial services."
          },
          {
            "value": "ELO",
            "description": "The Brazilian Elo card payment network."
          },
          {
            "value": "HIPER",
            "description": "The Hiper - Ingenico ePayment network."
          },
          {
            "value": "HIPERCARD",
            "description": "The Brazilian Hipercard payment network that's widely accepted in the retail market."
          },
          {
            "value": "RUPAY",
            "description": "The RuPay payment network."
          },
          {
            "value": "GE",
            "description": "The GE Credit Union 3Point card payment network."
          },
          {
            "value": "SYNCHRONY",
            "description": "The Synchrony Financial (SYF) payment network."
          },
          {
            "value": "EFTPOS",
            "description": "The Electronic Fund Transfer At Point of Sale(EFTPOS) Debit card payment network."
          },
          {
            "value": "UNKNOWN",
            "description": "UNKNOWN payment network."
          }
        ],
        "enum": [
          "VISA",
          "MASTERCARD",
          "DISCOVER",
          "AMEX",
          "SOLO",
          "JCB",
          "STAR",
          "DELTA",
          "SWITCH",
          "MAESTRO",
          "CB_NATIONALE",
          "CONFIGOGA",
          "CONFIDIS",
          "ELECTRON",
          "CETELEM",
          "CHINA_UNION_PAY",
          "DINERS",
          "ELO",
          "HIPER",
          "HIPERCARD",
          "RUPAY",
          "GE",
          "SYNCHRONY",
          "EFTPOS",
          "UNKNOWN"
        ]
      },
      "card_stored_credential": {
        "type": "object",
        "title": "Card Stored Credential",
        "description": "Provides additional details to process a payment using a `card` that has been stored or is intended to be stored (also referred to as stored_credential or card-on-file).<br/>Parameter compatibility:<br/><ul><li>`payment_type=ONE_TIME` is compatible only with `payment_initiator=CUSTOMER`.</li><li>`usage=FIRST` is compatible only with `payment_initiator=CUSTOMER`.</li><li>`previous_transaction_reference` or `previous_network_transaction_reference` is compatible only with `payment_initiator=MERCHANT`.</li><li>Only one of the parameters - `previous_transaction_reference` and `previous_network_transaction_reference` - can be present in the request.</li></ul>",
        "properties": {
          "payment_initiator": {
            "$ref": "#/components/schemas/payment_initiator"
          },
          "payment_type": {
            "$ref": "#/components/schemas/stored_payment_source_payment_type"
          },
          "usage": {
            "$ref": "#/components/schemas/stored_payment_source_usage_type"
          },
          "previous_network_transaction_reference": {
            "$ref": "#/components/schemas/network_transaction_reference"
          }
        },
        "required": ["payment_initiator", "payment_type"]
      },
      "card_type": {
        "type": "string",
        "title": "Card Type",
        "description": "Type of card. i.e Credit, Debit and so on.",
        "minLength": 1,
        "maxLength": 255,
        "pattern": "^[A-Z_]+$",
        "x-enumDescriptions": [
          {
            "value": "CREDIT",
            "description": "A credit card."
          },
          {
            "value": "DEBIT",
            "description": "A debit card."
          },
          {
            "value": "PREPAID",
            "description": "A Prepaid card."
          },
          {
            "value": "STORE",
            "description": "A store card."
          },
          {
            "value": "UNKNOWN",
            "description": "Card type cannot be determined."
          }
        ],
        "enum": ["CREDIT", "DEBIT", "PREPAID", "STORE", "UNKNOWN"]
      },
      "card_verification": {
        "type": "object",
        "title": "Card Verification",
        "description": "The API caller can opt in to verify the card through PayPal offered verification services (e.g. Smart Dollar Auth, 3DS).",
        "properties": {
          "method": {
            "description": "The method used for card verification.",
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "pattern": "^[0-9A-Z_]+$",
            "default": "SCA_WHEN_REQUIRED",
            "x-enumDescriptions": [
              {
                "value": "SCA_ALWAYS",
                "description": "Selecting this option will attempt to force a strong customer authentication for the authorization/transaction. In countries where SCA has been defined and implemented it will result in a contingency and HATEOAS link being returned.  The API caller should redirect the payer to that link so that they can authenticate themselves against their issuing bank or other entity. As noted, the HATEOAS link is only available in all regions where strong authentication is supported, (e.g. in European countries where 3DS is live). Merchants can use this setting as an additional layer of security if they choose to. In all cases, when an authorization is requested the AVS/CVV results will be returned in the response."
              },
              {
                "value": "SCA_WHEN_REQUIRED",
                "description": "This is the default. When an authorization or transaction is attempted this option will return a contingency and HATEOAS link only when local regulations require strong customer authentication, (e.g. 3DS in countries and use cases where it is mandated). The API caller should redirect the payer to the link so that they can authenticate themselves. In all cases, when an authorization is requested the AVS/CVV results will be returned in the response."
              },
              {
                "value": "3D_SECURE",
                "description": "The contingency surfaced as an additional security layer that helps prevent unauthorized card-not-present transactions and protects the merchant from exposure to fraud.",
                "deprecated": true
              },
              {
                "value": "AVS_CVV",
                "description": "Places a temporary hold on the card to ensure its validity. This process protects the merchant from exposure to fraud. This verification method will confirm that the address information or CVV included matches what the issuing bank has on file for the associated card, ensuring that only authorized card users are able to make purchases from you.",
                "deprecated": true
              }
            ],
            "enum": ["SCA_ALWAYS", "SCA_WHEN_REQUIRED", "3D_SECURE", "AVS_CVV"]
          }
        }
      },
      "cart_base": {
        "type": "object",
        "title": "Cart Base",
        "description": "The cart.",
        "properties": {
          "reference_id": {
            "type": "string",
            "description": "The merchant-provided ID for the purchase unit.",
            "maxLength": 256
          },
          "amount": {
            "$ref": "#/components/schemas/amount",
            "description": "The amount to collect."
          },
          "payee": {
            "$ref": "#/components/schemas/payee"
          },
          "description": {
            "type": "string",
            "description": "The purchase description.",
            "maxLength": 127
          },
          "note_to_payee": {
            "type": "string",
            "description": "The note to the recipient of the funds in this transaction.",
            "maxLength": 255
          },
          "custom": {
            "type": "string",
            "description": "The free-form field for the client's use.",
            "maxLength": 127
          },
          "invoice_number": {
            "type": "string",
            "description": "The invoice number to track this payment.",
            "maxLength": 127
          },
          "soft_descriptor": {
            "type": "string",
            "description": "The payment descriptor on account transactions on the customer's credit card statement, that PayPal sends to processors. The maximum length of the soft descriptor information that you can pass in the API field is 22 characters, in the following format:<pre>22 - len(PAYPAL * (8)) - len(<var>Descriptor in Payment Receiving Preferences of Merchant account</var> + 1)</pre>The PAYPAL prefix uses 8 characters.<br/><br/>The soft descriptor supports the following ASCII characters:<ul><li>Alphanumeric characters</li><li>Dashes</li><li>Asterisks</li><li>Periods (.)</li><li>Spaces</li></ul>For Wallet payments marketplace integrations:<ul><li>The merchant descriptor in the Payment Receiving Preferences must be the marketplace name.</li><li>You can't use the remaining space to show the customer service number.</li><li>The remaining spaces can be a combination of seller name and country.</li></ul><br/>For unbranded payments (Direct Card) marketplace integrations, use a combination of the seller name and phone number.",
            "maxLength": 22
          },
          "payment_options": {
            "$ref": "#/components/schemas/definitions-payment_options"
          },
          "item_list": {
            "$ref": "#/components/schemas/item_list"
          },
          "notify_url": {
            "type": "string",
            "format": "uri",
            "description": "The send payment notifications URL.",
            "maxLength": 2048
          },
          "order_url": {
            "type": "string",
            "format": "uri",
            "description": "The payment-related URL on the merchant site.",
            "maxLength": 2048
          }
        },
        "required": ["amount"]
      },
[...]
